* {
    margin: 0;
}
input {
    width: 10vw;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: .8em;
    text-align: center;
    border: solid black 1px;
    color: rgb(22, 24, 145);
}
input:hover {
    background-color: rgb(231, 231, 231);
}
::placeholder {
    color: rgb(22, 24, 145);
}
body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.center-display {
    width: 50%;
    height: 50%;
    border: solid black 4px;
}
.inputs {
    text-align: center;
    margin-top: 12%;
}
.title {
    text-align: center;
    font-size: 1.5em;
    font-family: 'Roboto Mono', sans-serif;
    margin: 20px;;
}
.submit-div {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
.submit-btn {
    font-size: 1em;
    background: none;
    margin: 12px;
    font-family: 'Roboto Mono', sans-serif;
    padding: 5px;
    cursor: pointer;
}
.submit-btn:hover {
    background-color: rgb(231, 231, 231);
}
.submit-btn:focus {
    outline: none;
}
.output {
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.result {
    font-size: 32px;
    font-family: 'Roboto Mono', sans-serif;
    font-weight: 900;
}
.input:focus {
    outline: none;
}
.red {
    border: solid rgb(243, 73, 73) 1px;
}

